<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account on DRS has been activated!</h1>
    <p>
      Now you can login with the password generated for you using this link: <%= new_admin_user_session_url %>
    </p>
  </body>
</html> 
