<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user has signed up into Daily Report System!</h1>
    <p>
       New user has signed up into DRS with email: <%= @user.email %>
    </p>
  </body>
</html> 
 
