<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Daily Report System</h1>
    <p>
      You have successfully signed up to DRS with email: <%= @user.email %>.<br/>
    </p>
    <p>
      Please wait for our administrators to activate your account. After that, you can login with this password: <%= @password %>. Feel free to change it in your profile settings.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>