<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width: 100%; text-align: center; height: 50px; background-color: #425470; padding-top: 10px; padding-bottom: 10px; color: #d9fffd;">
        <h1><strong>Daily Report System</strong></h1>
    </div>
    <div style="margin: 50px;">
        <h2 style="font-size: 18px; line-height: 24px; color: #c25130; font-weight: bold;">Welcome to Daily Report System</h2>
        <p>
        You have successfully signed up to DRS with email: <%= @user.email %>.<br/>
        </p>
        <p>
        Please wait for our administrators to activate your account. After that, you can login with this password: <b><%= @password %></b>. Feel free to change it in your profile settings.
        </p>
        <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>
<!DOCTYPE html>